.user-nav {

  position: fixed;
  top: 0;
  left: 0;
  height: 3rem;
  width: 100%;
  background-color: rgba(85, 0, 0, 0.1);
  margin: 0 auto;
  z-index: 100000;

  &__logoside {
    position: absolute;

    margin-left: 10px;
    top: 40%;
    transform: translate(0%, -50%);

    &--logo {

      position: absolute;
      height: 27px;
    }

    &--home {
      transform: translate(0%, 20%);
      line-height: 23px;
      color: red;
      font-size: 2rem;
      margin-left: 40px;

    }


  }


  &__search-box {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 100%;
    background: transparent;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #550000;

  }

  &__ads {
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-50%, -50%);

    font-size: 2rem;

    color:red;
  }


}