.details {
  position: relative;

  top: 5%;
  left: 35%;
  transform: translate(0, 0);

}

.profile {


  width: 60rem;
  height: 36rem;


  &__image {
    padding-left: 36%;
  }

  &__name {
    font-size: 4rem;
    text-align: center;
  }


  &__wl {
    display: block;
    position: absolute;
    font-size: 2rem;
    padding-left: 17rem;


    & > div {
      display: inline-block;
      padding-left: 25px;
      text-align: center;

    }

    &--row {
    }

    &--cell {
    }


  }

}


.overview {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
  }

  &__box {
    width: 60rem;
    height: 13rem;
    border: #777777 1px solid;
    margin-bottom: 2rem;


    &:after {
      content: '';
      position: absolute;
      width: 25px;
      height: 25px;
      background-color: white;
      border: 4px solid #FF9F55;
      border-radius: 50%;
      margin-top: 6rem;
      z-index: 1;
      margin-left: -1rem;
    }

  }

}